@using Raven.Documentation.Web.Core.ViewModels
@using Raven.Documentation.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RavenDB Documentation - @ViewBag.Title</title>

    @RenderSection("HeadAdditions", false)

    @{
        var v = 1;
    }

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://ravendb.net/wp-content/themes/ravendb/style.css">
    <link rel="preload" href="https://ravendb.net/wp-content/themes/ravendb/src/styles/base/_font-faces.css" as="style">
    <link rel="stylesheet" id="toc-screen-css" href="https://ravendb.net/wp-content/plugins/table-of-contents-plus/screen.min.css?ver=2408" media="all">
    <link rel="stylesheet" id="vendor-styles-css" href="https://ravendb.net/wp-content/themes/ravendb/dist/vendor.css?ver=240820-132000" media="all">
    <link rel="stylesheet" id="docs-page-template-styles-css" href="https://ravendb.net/wp-content/themes/ravendb/dist/docs_page_template.css?ver=240820-132012" media="all">
    <script src="/Content/styles/main.js"></script>
    <link href="/Content/styles.css" rel="stylesheet" type="text/css" />
</head>

<body class="push-body docs">
    <div id="shop"></div>
    <div id="menuOverlay"></div>
    <div id="wrapper">
        <nav class="navbar">
            <div class="d-flex flex-grow flex-nowrap">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </button>
                    <a class="logo" href="@Url.Action("ArticlePage", "Docs", new
                                      {
                                          version = Model.SelectedVersion,
                                          language = Model.SelectedLanguage,
                                      })"><img src="https://ravendb.net/wp-content/uploads/2023/08/raven-logo-blue.svg" width="120px"/></a>
                </div>
                <div class="d-flex flex-grow"></div>
                <div id="navbar" class="navbar-collapse collapse">
                    @{
                        var isNotLegacyVersion = DocsVersion.GetModeForVersion(Model.SelectedVersion) == DocsVersion.DocsMode.Normal;
                    }
                    <nav id="submenu" class="documentation @if (isNotLegacyVersion)
	                                       {<text>show-general show-@DocumentationLanguage.GetClientName(Model.SelectedLanguage)</text>}">
                        <nav class="docs-table-of-contents c-px-md-3 js-table-of-contents">
                            <div class="docs-table-of-contents__column d-flex flex-column w-100 js-table-of-contents-column">
                                <div class="docs-table-of-contents__list d-flex flex-column">
                                    <ul class="pb-5">
                                        @PartialExtensions.Partial(Html, "Toc", Model.Toc)
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </nav>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="flex-horizontal">

            <article id="articleContainer">
                <div class="article-center">
                    @RenderBody()

                </div>
                <aside>
                @RenderSection("RelatedArticles", false)
                @if (Html.IsDebug())
                {
                    @Html.Partial("DevControls")
                }
                </aside>
            </article>


        </div>
        <div class="clearfix"></div>

    </div>
    <script>
        var root = '/';
    </script>
    <script>
    RavenDB.Documentation.init(
    {
        baseUrl: '@Url.Content("~/docs/article-page/")',
        version: '@Model.SelectedVersion',
        lang: 'CSharp'
    });
    </script>
    <script>
        $('table', '#articleContainer').each(function () {
            var div = $('<div></div>')
                .attr({
                    'class': 'table-responsive'
                });
            $(this).attr({
                'class': 'table table-striped table-bordered table-condensed'
            }).wrap(div);
        });

        $('div h3 a').click(function () {
            searchResult.setSearchFound(this.href);
        });

        $(document).ready(function () {
            var isShowInstead = localStorage["searchInsteadFor"] !== localStorage["searchInput"];
            var a = $('#search-instead-for a');
            var $searchInsteadFor = $('#search-instead-for');
            if (isShowInstead) {
                $searchInsteadFor.show();

                var href = $('#form-search').attr('action') + '?searchTerm='
                    + localStorage["searchInsteadFor"];

                a.attr('href', href);
                a.html(localStorage["searchInsteadFor"]);

                a.click(function () {
                    localStorage["searchInput"] = localStorage["searchInsteadFor"];
                });
            } else {
                $searchInsteadFor.hide();
                $('#search-instead-for span').html('');
            }
        });
        document.addEventListener("DOMContentLoaded", function() {
            Array.prototype.slice.call(document.querySelectorAll("#articleContainer h1, #articleContainer h2, #articleContainer h3, #articleContainer h4, #articleContainer h5")).forEach(function(e) {
                if (e.getAttribute("id")) {
                    var t = e.innerHTML;
                    var r = document.createElement("a");
                    r.innerHTML = t + " <i class='glyphicon glyphicon-link'></i>";
                    r.setAttribute("href", "#" + e.getAttribute("id"));
                    e.innerHTML = '';
                    e.appendChild(r);
                }
            });
        });
    </script>
    <script src="https://ravendb.net/wp-content/themes/ravendb/dist/docs_page_template.bundle.js?ver=240820-132008" id="docs-page-template-scripts-js"></script>
    <script src="https://ravendb.net/wp-content/themes/ravendb/dist/vendor.bundle.js?ver=240820-132016" id="vendor-scripts-js"></script>
</body>
</html>
