<style>
</style>
<div id="devControls" class="dev-controls hidden-controls">

    <div class="flex-horizontal">
        <button id="hideBtn" class="btn-close hidden" onclick="hideControls()" style="margin-left: 0px; padding-left: 0px;">
            <h3>Development Tools</h3>
            <i class="glyphicon glyphicon-chevron-down margin-left"></i>
        </button>
        <button id="showBtn" class="btn-show" onclick="showControls()" style="margin-left: 0px; padding-left: 0px;">
            <h3>Development Tools</h3>
            <i class="glyphicon glyphicon-chevron-up margin-left"></i>
        </button>
    </div>

    <div class="control">
        <div class="btn-group">
            @Html.ActionLink("Generate docs for " + (string)ViewBag.CurrentVersion, MVC.Docs.ActionNames.Generate, MVC.Docs.Name, new { language = ViewBag.CurrentLanguage, version = ViewBag.CurrentVersion, key = ViewBag.Key, all = false }, new { @class = "btn btn-danger", style = "width: 210px;" })
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Generate docs for all versions", MVC.Docs.ActionNames.Generate, MVC.Docs.Name, new { language = ViewBag.CurrentLanguage, version = ViewBag.CurrentVersion, key = ViewBag.Key, all = true }, null)</li>
            </ul>
        </div>
    </div>
    <div class="control">
        <div class="btn-group">
            @Html.ActionLink("Validate links for " + (string)ViewBag.CurrentVersion, MVC.Docs.ActionNames.Validate, MVC.Docs.Name, new { language = ViewBag.CurrentLanguage, version = ViewBag.CurrentVersion, key = ViewBag.Key, all = false }, new { @class = "btn btn-warning", style = "width: 210px;", target = "_blank" })
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Validate links for all versions", MVC.Docs.ActionNames.Validate, MVC.Docs.Name, new { language = ViewBag.CurrentLanguage, version = ViewBag.CurrentVersion, key = ViewBag.Key, all = true }, new { target = "_blank" })</li>
            </ul>
        </div>
    </div>
    <div class="control">
        <div class="btn-group">
            @Html.ActionLink("Validate mappings for " + (string)ViewBag.CurrentVersion, MVC.Docs.ActionNames.ValidateMappings, MVC.Docs.Name, new { language = ViewBag.CurrentLanguage, version = ViewBag.CurrentVersion, key = ViewBag.Key, all = false }, new { @class = "btn btn-info", style = "width: 210px;", target = "_blank" })
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>@Html.ActionLink("Validate mappings for all versions", MVC.Docs.ActionNames.ValidateMappings, MVC.Docs.Name, new { language = ViewBag.CurrentLanguage, version = ViewBag.CurrentVersion, key = ViewBag.Key, all = true }, new { target = "_blank" })</li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    var controlsVisibility = document.getElementById("devControls");
    var hideBtn = document.getElementById("hideBtn");
    var showBtn = document.getElementById("showBtn");
    function showControls() {
        controlsVisibility.classList.remove("hidden-controls");
        hideBtn.classList.remove("hidden");
        showBtn.classList.add("hidden");
    }
    function hideControls() {
        controlsVisibility.classList.add("hidden-controls");
        showBtn.classList.remove("hidden");
        hideBtn.classList.add("hidden");
    }
</script>
