@using Raven.Documentation.Web.Core.ViewModels
@model List<TableOfContentsViewModel>
@{
    string currentKey = ViewBag.Key != null ? ViewBag.Key.ToLowerInvariant() : string.Empty;
}

@foreach (var toc in Model)
{
    var isActive = toc.IsActive(currentKey);


    if (toc.IsFolder)
    {
        <li class="@toc.GetCssClass() expandable @if (isActive)
                                                 {<text>open</text>}">
            <button class="docs-table-of-contents__collapsible-button d-block bg-transparent border-0 text-left font-size-14 line-height-1-1 position-relative w-100 js-collapsible-button">
                @if (toc.Mode == DocsVersion.DocsMode.Normal)
                {
                    <i class="icon-toc-collapse"></i>
                    <i class="icon-toc-expand"></i>
                    @toc.Title
                }
                else
                {
                    <a class="legacy-link" href="~/docs/article-page/@ViewBag.Version/@ViewBag.Language/@toc.Key">@toc.Title</a>
                }
            </button>
            <ul class="active">
                @{ Html.RenderPartial("Toc", toc.Items);  }
            </ul>
        </li>
    }
    else
    {
        <li class="@toc.GetCssClass() @if (isActive)
                                      {<text>active</text>}">
            <a class="d-block docs-table-of-contents__redirector font-size-13 js-redirector line-height-1 position-relative" data-key="@toc.Key" href="~/docs/article-page/@ViewBag.Version/@ViewBag.Language/@toc.Key">
                @toc.Title
            </a>
        </li>
    }
}
