<!DOCTYPE html>
<html>
<head>
    @if (string.IsNullOrEmpty(ViewBag.Title) == false)
    {
        <title>@ViewBag.Title</title>
    }
    else
    {
        <title>RavenDB - ACID NoSQL Document Database</title>
    }

    @{
        var v = 1;
    }

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic,900' rel='stylesheet' type='text/css'>

    <link href="/Content/styles/styles.css" rel="stylesheet" />
    <link href="/Content/styles.css" rel="stylesheet" type="text/css" />


    @RenderSection("HeadAdditions", false)
</head>
<body>
    <div id="menuOverlay"></div>
    <div id="wrapper" class="@ViewBag.WrapperModClass">
        @RenderBody()
    </div>

    <script src="/Content/styles/main.js"></script>
    <script>
        var root = '/';
    </script>
    <script>
        if (!window.Promise) {
            window.Promise = window.ES6Promise;
        }
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
