@model Raven.Documentation.Parser.Data.ArticlePage
@{
    Layout = "_Layout.cshtml";

    var metadata = Model.Metadata;
    string title = Model.Title;
    if (metadata != null && metadata.ContainsKey("title"))
    {
        title = metadata["title"];
    }

    ViewBag.Title = title;

    var seoMetadata = Model.SeoMetaProperties;
}

@section HeadAdditions {
    @if (metadata != null && metadata.ContainsKey("metaDescription"))
    {
        <meta name="description" content="@metadata["metaDescription"]" />
    }
    
    @if (metadata != null && metadata.ContainsKey("canonicalLink"))
    {
        <link rel="canonical" @Html.Raw(metadata["canonicalLink"])/>
    }

    @if (seoMetadata != null)
    {
        foreach (var entry in seoMetadata)
        {
            <meta name="@Html.Raw(entry.Key)" content="@Html.Raw(entry.Value)" />
        }
    }
}

@if (metadata != null && metadata.ContainsKey("likeSection"))
{
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

}

<div id="contentSection">
    <div class="container article-content">
        <div id="article-body" class="non-doc-article" data-article="@Model.Key">
            @Html.Raw(Model.HtmlContent)
        </div>
    </div>
</div>

@Html.Partial("DevControls")
